<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Login</title>
    <script src="login.js"></script>
    <link rel="stylesheet" href="stylesLogin.css">

</head>
<body style="background-image: url('data/back.svg'); background-size: cover;">
	
<div id="loginContainer">
    <h1 style="text-align: center; margin-bottom: 100px;">Login</h1>
    <form id="loginForm" action="/main" method="post">
        <label for="username">School Email:</label>
        <input type="text" id="username" name="username" required>

        <label for="code">Class Code:</label>
        <input type="code" id="code" name="code" required>
    </form>
    <button id="loginButton" type="button" style=" margin-left: 60px; margin-bottom: 100px;">Login</button>

</div>


</body>
</html>

